.category-job__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--white);
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: calc(100% - 40px);
  border-radius: 5px; }

.category-job__remove-all {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 3px; }

.btn-category-article {
  color: var(--main-color);
  background-color: var(--light-grayish-cyan);
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 5px 10px 5px 0; }
  .btn-category-article:last-child {
    margin-right: 0; }
  .btn-category-article:hover {
    color: var(--white);
    background-color: var(--very-dark-grayish-cyan); }

.filter-button {
  margin: 5px 10px 5px 0;
  display: flex;
  align-items: center;
  height: 30px; }
  .filter-button p {
    color: var(--main-color);
    background-color: var(--light-grayish-cyan);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: calc(100% - 10px); }
  .filter-button .button-remove-filter {
    background-color: var(--main-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    transition: 0.3s; }
    .filter-button .button-remove-filter:hover {
      background-color: var(--very-dark-grayish-cyan); }
  .filter-button .text-filter-button, .filter-button .button-remove-filter {
    display: flex;
    align-items: center;
    padding: 5px 10px; }
