.page {
    min-height: 100vh;
    margin: 0 25px;
    padding: 70px 0;
    position: relative;
    &.category-open {
        padding: 110px 0;
    }
}
@media (min-width: 992px) {
    .page {
        margin: 0 80px;
        padding: 80px 0;
    }
}